{% load static %}

<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <title>Peter Marangoni</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <script src="{% static '/js/index.js' %}"></script>
  </head>
  <body>
    <h1>My Portfolio</h1>
    <p>Peter Marangoni</p>
    <img src="{% static '/ananas/static/images/ananas.png' %}" alt="My Image" />

    <div class="arrow bounce">
      <a class="fa fa-arrow-down fa-2x" href="#"></a>
    </div>

    <header></header>
  </body>
</html>
